@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer base {
  .hero-bg {
    --light: hsl(0 0% 100%);
    --dark: hsl(0 0% 8%);
    --circleColor: var(--light);
    --circleColor: var(--dark);
    backdrop-filter: blur(25px);
    background-image: 
      radial-gradient(circle at 50% 0%, var(--circleColor) 60%, transparent 85%),
      linear-gradient(to right, #624dce, #e0686c, #99579f);
    display: grid;
    place-items: center;
    position: relative;
    isolation: isolate;
  }
}

html, body {
  overscroll-behavior: none;
}

/* body {
  overflow-y: hidden;
} */
@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

.animate-marquee-reverse {
  animation: marquee 30s linear infinite reverse;
}